{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}

<main>
<div>


<!-- Search bar -->
    <nav class="searchBar">
    <form id="search">
        <input type="search" name="query" class="searchInput" placeholder="Nom d'une ville..." aria-label="Search">
          <button type="submit" class="searchBtn">Trouver rapidement une salle...</button>
    </form>
      </nav>
    <div id="map">
        </div>
                <ul style="list-style-type: decimal;" id="result">
            <!--Ici intégrer la map-->
        </ul>
    <section class="section-one">
        <article class="mainArt">
            <a href="#"><h3>Trouve ta scène !</h3></a>
            <p></span>[A VERIFIER]</span>Vous etes un artiste ou groupe en quete de salle afin de vous promouvoir en france ? 
            <br>Vous êtes au bon endroit ! 
            <br>Trouvez la salle de vos rêves dans la ville de votre choix en quelques clics !</p>
        </article>
        <article class="mainArt">
            <a href="formB.html"><h3>Fais jouer des artistes !</h3></a>
            <p></span>[A VERIFIER]</span>Organisateur de festival, booker, <br>
            propriétaire d'une salle ou tourneur à la recherche d'artistes à produire sur scène, <br>
            vos prises de contacts n'ont jamais été aussi faciles avec FindAScene !  </p>
        </article>
        <article class="mainArt">
            <a href=""><h3>Faites-vous connaître !</h3></a>
            <p>Placez vous au devant de la scène et mettez en valeur vos atouts en étoffant votre liste de contact ![A COMPLETER]</p>
        </article>
    </section>
    
<!-- ////////////////// HTML AJOUTE OUSMANE ///////////// -->
  <h2>Notre selection de la semaine :</h2>      
<section class="homeList">

 <article>
    <div class="titleList">
        <h3><a href="#">Salles du théatre</a></h3>
            <h4>Lille</h4>
            <img class="illustration" src="{{ asset('img/scene1.jpg') }}" alt="Musicien sur scène" />
    </div>
        <div class="descriptionList">
            <p>Notre salle vous acueille pour vos représentations dans la métropole lilloise.
                <br> Situé au centre-ville de Lille et parfaitement désservie par les transports en communs,
                <br> notre salle sera une alternative parfaite pour vos représentations de moins de 500 personnes.</p>
            <button class="ensavoirplus">plus d'infos </button>
        </div>
  </article>
  <article>
        <div class="titleList">
        <h3><a href="#">Salle de la Renaissance</a></h3>
            <h4>Villeneuve-D'ascq</h4>
                <img class="illustration"  src="{{ asset('img/sallevide.jpg') }}" alt="Musicien sur scène" />
        </div>
        <div class="descriptionList">
            <p>Si vous êtes désireux d'intégrer la métropole lilloise à votre calendrier,
                <br> de tourner dans une salle spacieuse et lumineuse, 
                <br>la Salle de la Renaissance est faite pour vous !</p> 
            <button class="ensavoirplus">plus d'infos </button>
        </div>
    </article>
<article>  
    <div class="titleList">
        <h3><a href="#">le Prestige</a></h3>
            <h4>Lyon</h4>
                   <img class="illustration"  src="{{ asset('img/club.jpg') }}" alt="Musicien sur scène" />
    </div>
       <div class="descriptionList">
        <p>
            Votre boite de nuit le club le prestige vous accueile pour vos showCase.
            notre clientaille est jeunes est aime s'embienser sur des son pop et tendence que notre dj (s) se fai
            plaisire d'embiencer chaque weekend
            Notre clientelle est jeune et aime s'ambiancer sur des sons pop et tendance que notre 
        </p>
            <button class="ensavoirplus">plus d'infos </button>
        <div>
            
    </article>
 <article>
    <div class="titleList">
            <h3><a href="#">la cavalerie</a></h3>
            <h4>Marseille</h4>
            <img class="illustration" src="{{ asset('img/scene1.jpg') }}" alt="Musicien sur scène" />
    </div>
        <div class="descriptionList">
            <p>
                Le café théatre la cavalerie d'une capassité d'acueil de 300 personne vous resoi pour vo représentation sur
                marseille
            </p>
             <button class="ensavoirplus">plus d'infos </button>
        </div>
    </article>
<article>
        <div class="titleList">
                <h3><a href="#">le Zenith</a></h3>
                <h4>Paris</h4>
                <img class="illustration"  src="{{ asset('img/sallevide.jpg') }}" alt="Musicien sur scène" />
        </div>
    <div class="descriptionList">
            <p>
                Faite comme toute les plus grand start mondiaux que notre établissement a eu la joie d'acueillir jusqu'a
                aujourdui et choisesser notre salle pour vos concert sur paris
            </p>
             <button class="ensavoirplus">plus d'infos </button>
    </div> 
</article>
 <article>
        <div class="titleList">
                <h3><a href="#">Chez Régine </a></h3>
                <h4>Paris</h4>
                <img class="illustration"  src="{{ asset('img/Musicien.jpg') }}" alt="Musicien sur scène" />
        </div>
        <div class="descriptionList">
            <p>
                showCase, prestation théatrale ou toute représentations artistiques...
             <br>Chez Régine, On se fera un plaisir de promouvoir votre incroyable talent !
            </p>
            <button class="ensavoirplus">plus d'infos </button>
        </div>
    </article>
<article>
        <div class="titleList">
                <h3><a href="#">L'Olympia</a></h3>
                <h4>Strasbourg</h4>
                <img class="illustration" src="{{ asset('img/scene1.jpg') }}" alt="Musicien sur scène" />
        </div>
        <div class="descriptionList">
            <p> 
                Après avoir accueilli les artistes les plus mythiques,
            <br>l'Olympia vous invite a suivre leur exemple et a faire vibrer
            <br>votre public dans l'ambiance la plus magistrale qu'il soit dans notre établissement à capacité d'accueil élevé.
            </p>
            <button class="ensavoirplus">plus d'infos </button>
</div>
    </article>
  
</section>



    

</main>


    <script src="/public/leaflet/leaflet.js"></script>
     <script src="/public/jquery/jquery-3.4.1.min.js"></script> 
    <script src="/public/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

{% endblock %}
