{% extends 'base.html.twig' %}

{% block title %}Ajouter une salle - {{ parent() }}{% endblock %}
    {% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/styleFormA.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        {% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <button class="btn btn-success">Ajouter cette Salle</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
