{% extends 'base.html.twig' %}

{% block title %}Details de la salle {{salle.nomSalle}} - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/styleShowSalles.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}

<div class="show-salle">
    <h1 class="titre-salle">{{ salle.NomSalle }}</h1>
        <div class="alignement">
            <div class="carac">
                        <p>
                        <span class="decoration">Adresse</span> : 
                            <br>
                        <span class="mise-en-avant">{{ salle.Adresse}}</span> 
                        </p>
                            
                        <p> <span class="decoration">Ville</span> : 
                            <br>
                        <span class="mise-en-avant">{{ salle.Ville }} </span> 
                        </p>
                        <p class="capacité"><span class="decoration">Capacité d'accueil</span> : 
                            <br>
                        <span class="mise-en-avant nombre">{{ salle.Capacite}} </span> personnes.</p>   
            </div>
        
            <div class="resume">
                <p> <span class="decoration">à propos de la salle</span> : </p>
                <p class="details-salle">{{ salle.description | nl2br }}</p>
            </div> 
        </div>
    <div class="alignement">
        <div class="centre"><a href="#"><button class="contact">Fiche technique</button></a></div> 
        <div class="centre"><a href="#"><button class="contact">Contacter la salle</button></a></div>
    </div>          
</div>

<div id="map"></div>
{% endblock %}
