{% extends 'base.html.twig' %}

{% block title %}Details de la salle {{salle.nomSalle}} - {{ parent() }}{% endblock %}

{% block body %}

<div class="jumbotron text-center" style="background-color:rgba(201, 212, 170, 0.788);">
    <h1>{{ salle.NomSalle }}</h1>
</div>
<div class="container mt-4 text-center">
    <div class="row">
     <div class="col md-8">

     </div>
     <div class="col mt-4">
        <h2>Adresse :{{ salle.Adresse}}  - Ville : {{ salle.Ville }} </h2>
        <div class="text-primary" style="font-size:4rem;font-weight:bold;">{{ salle.Capacite}}</div>
        <a href="#" class="btn btn-primary">Contacter la salle</a>
     </div>   
    </div>
    <p>
        {{ salle.description | nl2br }}
    </p>
    
</div>

<div id="map">
    <ul style="list-style-type: decimal;" id="result">
        <!--Ici intégrer la map-->
    </ul>
</div>
{% endblock %}
