<!--PAGE D'AFFICHAGE DU MODE ADMIN AVEC EDITION ET SUPPRESSION DES DONNEES
ENTREES DANS LES FORMULAIRES MUSICIENS ET SALLES-->


{% extends 'base.html.twig' %}

{% block title 'Godmode' %}

{% block body %} 
<h1>Gérer les inscriptions</h1>
{% for message in app.flashes('success') %}
        <div class="alert success">
            {{ message }}
        </div>
        {% endfor %}
    <div class="container mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Utilisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for salle in salles %}
                <tr>
                    <td>{{ salle.title }}</td>
                    <td>
                        <a href="{{ path ('admin.edit', {id: salle.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path ('admin.delete', {id: salle.id}) }}" style="display: inline-block" onsubmit="return confirm('Action irrémédiable')">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="_token" value="{{csrf_token('delete' ~ property.id)}}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>            
    </div>
    
    <div class="text-right">
        <a href="{{ path ('admin.new') }}" class="btn btn-primary mr-5">Créer une nouvelle annonce</a>
    </div>
{% endblock %}